# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
.env.*

# === Node ===
node_modules/
dist/
build/
.vite/
.cache/
*.log

# === Docker ===
*.tar
*.log
docker-compose.override.yml

# === Kubernetes ===
*.yaml~
secrets/
kubeconfig
*.crt
*.key

# === Vite ===
*.vite

# === Helm ===
*.tgz
charts/
tmpcharts/
helm-chart/k8s-task-manager/.helmignore

# === Scripts y backups ===
*.bak
*.swp
*.tmp
*.old

# === Editores ===
.vscode/
.idea/
*.sublime*
.DS_Store
Thumbs.db

# === Otros ===
*.pid
*.sock
